<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_config</key>
	<dict>
		<key>x</key>
		<string></string>
		<key>defaultsX</key>
		<dict>
			<key>protocol</key>
			<string>https</string>
		</dict>
	</dict>
	<key>queryWorkout</key>
	<dict>
		<key>source</key>
		<dict>
			<key>getDetail</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>zenplanner/portal/dialog-appointment.cfm?AppointmentId=%@</string>
					<key>variables</key>
					<array>
						<string>workoutId</string>
					</array>
				</dict>
			</dict>
			<key>signup</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>zenplanner/portal/dialog-appointment-register.cfm?AppointmentId=%@&amp;personId=%@&amp;MembershipId=%@</string>
					<key>variables</key>
					<array>
						<string>workoutId</string>
						<string>personId</string>
						<string>membershipId</string>
					</array>
				</dict>
			</dict>
			<key>cancelSignup</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>zenplanner/portal/dialog-appointment-cancel.cfm?AppointmentId=%@&amp;AttendanceId=%@</string>
					<key>variables</key>
					<array>
						<string>workoutId</string>
						<string>attendanceId</string>
					</array>
				</dict>
			</dict>
			<key>waitlist</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>zenplanner/portal/dialog-waitlist-join.cfm?appointmentId=%@&amp;personId=%@&amp;membershipId=%@</string>
					<key>variables</key>
					<array>
						<string>workoutId</string>
						<string>personId</string>
						<string>membershipId</string>
					</array>
				</dict>
			</dict>
			<key>cancelWaitlist</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>zenplanner/portal/dialog-waitlist-cancel.cfm?waitlistId=%@</string>
					<key>variables</key>
					<array>
						<string>waitlistId</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>output</key>
		<dict>
			<key>isLoggedIn</key>
			<dict>
				<key>parse</key>
				<dict>
					<key>pattern</key>
					<string>Log In</string>
					<key>defaultValues</key>
					<dict>
						<key>isLoggedIn</key>
						<string>1</string>
					</dict>
					<key>matchValues</key>
					<dict>
						<key>isLoggedIn</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
			<key>loggedIn</key>
			<dict>
				<key>parseCyclesMergeKeys</key>
				<array>
					<dict>
						<key>pattern</key>
						<string>&lt;td.*?&gt;(?:&lt;span class=&quot;\w+&quot;&gt;)?(Did Not Attend)?(Attended)?(No Show)?(Reserved)?(On Waitlist)?(?:&lt;/span&gt;)?\s*&lt;/td&gt;</string>
						<key>captures</key>
						<dict>
							<key>!didAttend</key>
							<integer>1</integer>
							<key>didAttend</key>
							<integer>2</integer>
							<key>wasNoShow</key>
							<integer>3</integer>
							<key>isSignedUp</key>
							<integer>4</integer>
							<key>onWaitlist</key>
							<integer>5</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>dialog-appointment-cancel\.cfm\?.*?AttendanceId=(.*?)&apos;</string>
						<key>matchValues</key>
						<dict>
							<key>isSignedUp</key>
							<string>1</string>
							<key>!isPast</key>
							<string>1</string>
						</dict>
						<key>captures</key>
						<dict>
							<key>attendanceId</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>dialog-(?:appointment-register|waitlist-join)\.cfm\?.*?MembershipId=(.*?)&apos;</string>
						<key>matchValues</key>
						<dict>
							<key>!isSignedUp</key>
							<string>1</string>
							<key>!isPast</key>
							<string>1</string>
							<key>!isWaitlistFull</key>
							<string>1</string>
						</dict>
						<key>captures</key>
						<dict>
							<key>membershipId</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>dialog-waitlist-cancel\.cfm\?/*?waitlistId=(.*?)&apos;</string>
						<key>matchValues</key>
						<dict>
							<key>isOnWaitlist</key>
							<string>1</string>
							<key>!isPast</key>
							<string>1</string>
						</dict>
						<key>captures</key>
						<dict>
							<key>waitlistId</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>Interested in this Class</string>
						<key>matchValues</key>
						<dict>
							<key>isFull</key>
							<string>1</string>
							<key>waitlistIsFull</key>
							<string>1</string>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>Staff:&lt;/span&gt;\s*(.+?)\s*&lt;/div&gt;</string>
						<key>captures</key>
						<dict>
							<key>instructorName</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>&lt;div.*?&gt;Spaces Available: (\d+) out of (\d+)&lt;/div&gt;</string>
						<key>matchValues</key>
						<dict>
							<key>!waitlistIsFull</key>
							<string>1</string>
							<key>!isFull</key>
							<string>1</string>
						</dict>
						<key>captures</key>
						<dict>
							<key>placesAvailable</key>
							<integer>1</integer>
							<key>placesTotal</key>
							<integer>2</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>Location:&lt;/span&gt;\s*(.+?)\s*&lt;/div&gt;</string>
						<key>captures</key>
						<dict>
							<key>locationName</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>&lt;h\d&gt;\s*([\w\s]+)\s*&lt;/h\d&gt;\s*&lt;div&gt;\s*(.+?)\s*&lt;/div&gt;\s*&lt;div&gt;\s*(\d+:\d+\s*[AP]M)\s*\-\s*\d+:\d+\s*[AP]M\s*\(([\d\.]+)\s*hours?\)</string>
						<key>captures</key>
						<dict>
							<key>type</key>
							<integer>1</integer>
							<key>date</key>
							<integer>2</integer>
							<key>time</key>
							<integer>3</integer>
							<key>duration</key>
							<integer>4</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>&lt;span.*?&gt;CLASS IS FULL\.&lt;/span&gt;\s*(?:Waitlist has (\d+) of (\d+) spots? remaining)?(and WAITLIST IS FULL)?</string>
						<key>matchValues</key>
						<dict>
							<key>isFull</key>
							<string>1</string>
						</dict>
						<key>captures</key>
						<dict>
							<key>waitlistPlacesAvailable</key>
							<integer>1</integer>
							<key>waitlistPlacesTotal</key>
							<integer>2</integer>
							<key>waitlistIsFull</key>
							<integer>3</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>loggedOut</key>
			<dict>
				<key>parseCyclesMergeKeys</key>
				<array>
					<dict>
						<key>pattern</key>
						<string>Location:&lt;/span&gt;\s*(.+?)\s*&lt;/div&gt;</string>
						<key>captures</key>
						<dict>
							<key>locationName</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>Staff:&lt;/span&gt;\s*(.+?)\s*&lt;/div&gt;</string>
						<key>captures</key>
						<dict>
							<key>instructorName</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>This class is full</string>
						<key>matchValues</key>
						<dict>
							<key>isFull</key>
							<string>1</string>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>This class has already passed</string>
						<key>matchValues</key>
						<dict>
							<key>isPast</key>
							<string>1</string>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>&lt;h\d&gt;\s*([\w\s]+)\s*&lt;/h\d&gt;\s*&lt;div&gt;\s*(.+?)\s*&lt;/div&gt;\s*&lt;div&gt;\s*(\d+:\d+\s*[AP]M)\s*\-\s*\d+:\d+\s*[AP]M\s*\(([\d\.]+)\s*hours?\)</string>
						<key>captures</key>
						<dict>
							<key>type</key>
							<integer>1</integer>
							<key>date</key>
							<integer>2</integer>
							<key>time</key>
							<integer>3</integer>
							<key>duration</key>
							<integer>4</integer>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>fetchWorkoutsForWeek</key>
	<dict>
		<key>source</key>
		<dict>
			<key>fetchWorkoutsForWeek</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>zenplanner/portal/calendar.cfm?DATE=%@&amp;locationId=&amp;PERSONID=%@&amp;view=LIST&amp;FRAME=false</string>
					<key>variables</key>
					<array>
						<string>date_YYYY-MM-DD</string>
						<string>personId</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>output</key>
		<dict>
			<key>instructors</key>
			<dict>
				<key>parse</key>
				<dict>
					<key>pattern</key>
					<string>&lt;OPTION value=&quot;(.*?)&quot;.*?&gt;((?:(?!\(All Staff\)|WODIFY LOGIN).)*?)&lt;/OPTION&gt;</string>
					<key>matchWithinRange</key>
					<dict>
						<key>startAtPattern</key>
						<string>&lt;SELECT name=&quot;staffId&quot;.*?&gt;</string>
						<key>endAtPattern</key>
						<string>&lt;/SELECT&gt;</string>
					</dict>
					<key>matchesAsArray</key>
					<dict/>
					<key>captures</key>
					<dict>
						<key>instructorId</key>
						<integer>1</integer>
						<key>name</key>
						<integer>2</integer>
					</dict>
				</dict>
			</dict>
			<key>locations</key>
			<dict>
				<key>parse</key>
				<dict>
					<key>pattern</key>
					<string>&lt;OPTION value=&quot;(.*?)&quot;.*?&gt;((?:(?!\(All Locations\)).)+?)&lt;/OPTION&gt;</string>
					<key>matchWIthinRange</key>
					<dict>
						<key>startAtPattern</key>
						<string>&lt;SELECT name=&quot;locationId&quot;.*?&gt;</string>
						<key>endAtPattern</key>
						<string>&lt;/SELECT&gt;</string>
					</dict>
					<key>matchesAsArray</key>
					<dict/>
					<key>captures</key>
					<dict>
						<key>locationId</key>
						<integer>1</integer>
						<key>name</key>
						<integer>2</integer>
					</dict>
				</dict>
			</dict>
			<key>loggedIn</key>
			<dict>
				<key>groupByPattern</key>
				<string>&lt;tr class=&quot;group&quot;&gt;\s*&lt;td colspan=&quot;\d+&quot;&gt;(.*?)&lt;/td&gt;\s*&lt;/tr&gt;</string>
				<key>eachGroup</key>
				<dict>
					<key>parse</key>
					<dict>
						<key>pattern</key>
						<string>\(&apos;dialog-appointment\.cfm\?AppointmentId=(.*?)&apos;\)&quot;&gt;\s*&lt;td.*?&gt;&lt;div class=&quot;(?:clickable\s*)?(\w*?)\s*(sessionFull)?\s*&quot;.*?&gt;(.*?)&lt;/div&gt;&lt;/td&gt;\s*&lt;td class=&quot;items&quot;&gt;&lt;span class=&apos;hyperlink&apos;&gt;(.*?)&lt;/span&gt;\s*&lt;span.*?&gt;(.*?)&lt;/div&gt;&lt;/td&gt;\s*?&lt;td.*?&gt;(\d+) spots? left&lt;/td&gt;\s*(?:&lt;td.*?&gt;(.*?)&lt;/td&gt;)\s*&lt;td.*?&gt;(.*?)&lt;/td&gt;\s*&lt;/tr&gt;</string>
						<key>matchesAsArray</key>
						<dict>
							<key>all</key>
							<true/>
						</dict>
						<key>captures</key>
						<dict>
							<key>workoutId</key>
							<integer>1</integer>
							<key>color</key>
							<integer>2</integer>
							<key>isFull</key>
							<integer>3</integer>
							<key>time</key>
							<integer>4</integer>
							<key>type</key>
							<integer>5</integer>
							<key>isSignedUp</key>
							<integer>6</integer>
							<key>placesAvailable</key>
							<integer>7</integer>
							<key>instructorName</key>
							<integer>8</integer>
							<key>locationName</key>
							<integer>9</integer>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>loggedOut</key>
			<dict>
				<key>groupByPattern</key>
				<string>&lt;tr class=&quot;group&quot;&gt;\s*&lt;td colspan=&quot;\d+&quot;&gt;(.*?)&lt;/td&gt;\s*&lt;/tr&gt;</string>
				<key>eachGroup</key>
				<dict>
					<key>parse</key>
					<dict>
						<key>pattern</key>
						<string>\(&apos;dialog-appointment\.cfm\?AppointmentId=(.*?)&apos;\)&quot;&gt;\s*&lt;td.*?&gt;&lt;div class=&quot;(?:clickable\s*)?(\w*?)\s*(sessionFull)?\s*&quot;.*?&gt;(.*?)&lt;/div&gt;&lt;/td&gt;\s*&lt;td class=&quot;items&quot;&gt;(.*?)&lt;/td&gt;\s*&lt;td class=&quot;items&quot;&gt;(.*?)&lt;/td&gt;\s*&lt;td class=&quot;items&quot;&gt;(.*?)&lt;/td&gt;\s*&lt;/tr&gt;</string>
						<key>matchesAsArray</key>
						<dict>
							<key>all</key>
							<true/>
						</dict>
						<key>captures</key>
						<dict>
							<key>workoutId</key>
							<integer>1</integer>
							<key>color</key>
							<integer>2</integer>
							<key>isFull</key>
							<integer>3</integer>
							<key>time</key>
							<integer>4</integer>
							<key>type</key>
							<integer>5</integer>
							<key>instructorName</key>
							<integer>6</integer>
							<key>locationName</key>
							<integer>7</integer>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>isLoggedIn</key>
			<dict>
				<key>parse</key>
				<dict>
					<key>pattern</key>
					<string>Your Reservations</string>
					<key>defaultValues</key>
					<dict>
						<key>!isLoggedIn</key>
						<string>1</string>
					</dict>
					<key>matchValues</key>
					<dict>
						<key>isLoggedIn</key>
						<string>1</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>loginUser</key>
	<dict>
		<key>source</key>
		<dict>
			<key>sessionRefresh</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>zenplanner/portal/login.cfm?view=cookies</string>
				</dict>
			</dict>
			<key>submitCredentials</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>zenplanner/portal/login.cfm?view=login</string>
					<key>httpMethod</key>
					<string>POST</string>
					<key>postVariables</key>
					<array>
						<dict>
							<key>user</key>
							<string>username</string>
						</dict>
						<dict>
							<key>pass</key>
							<string>password</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<key>output</key>
		<dict>
			<key>credentialsSubmitted</key>
			<dict>
				<key>parseCyclesMergeKeys</key>
				<array>
					<dict>
						<key>pattern</key>
						<string>&quot;person-edit\.cfm\?personId=([\w\-]+)&quot;</string>
						<key>captures</key>
						<dict>
							<key>personId</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>&lt;td width=&quot;100%&quot;&gt;\s*&lt;div class=&quot;spaceBelow&quot;&gt;\s*&lt;h\d+&gt;(.+?)&lt;/h\d+&gt;\n&lt;/div&gt;</string>
						<key>captures</key>
						<dict>
							<key>realName</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>&lt;div class=&quot;spaceBelow&quot;&gt;\s*&lt;div class=&quot;bold&quot;&gt;(.+?) \#(\d+)&lt;/div&gt;\s*&lt;div&gt;Begin Date:\s*(.+?)&lt;/div&gt;\s*&lt;div&gt;End Date: (.+?)&lt;/div&gt;\s*&lt;div&gt;Program\(s\): .*?&lt;/div&gt;</string>
						<key>captures</key>
						<dict>
							<key>type</key>
							<integer>1</integer>
							<key>membershipNo</key>
							<integer>2</integer>
							<key>startDate</key>
							<integer>3</integer>
							<key>endDate</key>
							<integer>4</integer>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
