<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fetchWorkoutDesc</key>
	<dict>
		<key>source</key>
		<dict>
			<key>constructUrl</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>http://www.crossfitnyc.com/%@</string>
					<key>variables</key>
					<array>
						<dict>
							<key>type</key>
							<string>date</string>
							<key>useDateFromVariable</key>
							<string>forDate</string>
							<key>dayOffset</key>
							<integer>-1</integer>
							<key>format</key>
							<string>%02d/%02d/%02d</string>
							<key>dateVariables</key>
							<array>
								<string>year</string>
								<string>month</string>
								<string>day</string>
							</array>
						</dict>
					</array>
				</dict>
			</dict>
			<key>fetchWorkoutDesc</key>
			<dict>
				<key>url</key>
				<dict>
					<key>format</key>
					<string>http://www.crossfitnyc.com/%@</string>
					<key>variables</key>
					<array>
						<string>relativeUrl</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>output</key>
		<dict>
			<key>constructUrl</key>
			<dict>
				<key>parseCyclesUntilSuccess</key>
				<array>
					<dict>
						<key>pattern</key>
						<string>&lt;h2 class=&quot;single-post-title&quot;&gt;\s*&lt;a href=&quot;http://www.crossfitnyc.com/(\S*?)&quot; title=&quot;Permalink to (?:\w+) (?:\d{6})[^&quot;]*&quot; rel=&quot;bookmark&quot;&gt;</string>
						<key>captures</key>
						<dict>
							<key>relativeUrl</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>pattern</key>
						<string>&lt;h2 class=&quot;single-post-title&quot;&gt;\s*&lt;a href=&quot;http://www.crossfitnyc.com/(\S*?)&quot; title=&quot;Permalink to .*?&quot; rel=&quot;bookmark&quot;&gt;</string>
						<key>captures</key>
						<dict>
							<key>relativeUrl</key>
							<integer>1</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>fetchWorkoutDesc</key>
			<dict>
				<key>parse</key>
				<dict>
					<key>pattern</key>
					<string>(&lt;p&gt;.*?&lt;/p&gt;)</string>
					<key>matchWithinRange</key>
					<dict>
						<key>startAtPattern</key>
						<string>&lt;div class=&quot;single-post-meta-text&quot;&gt;.*?&lt;/div&gt;</string>
						<key>endAtPattern</key>
						<string>&lt;img </string>
					</dict>
					<key>matchesAsDict</key>
					<dict>
						<key>appendingStrings</key>
						<dict>
							<key>wodDesc</key>
							<true/>
						</dict>
					</dict>
					<key>defaultValues</key>
					<dict>
						<key>wodDescFormat</key>
						<string>HTML</string>
					</dict>
					<key>captures</key>
					<dict>
						<key>wodDesc</key>
						<integer>1</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
